.MainHeading {
font-family: cursive;
font-style: normal;
font-size: 40px;
font-style: italic;
color: red;
transform: skew(60deg);
}

.SubHeading {
  color: Purple;
  font-size: 20px;
  padding-left: 75px;
  transform: skew(60deg);
  
}

.Parallelogram {
  width: 500px;
  height: 200px;
  transform: skew(-60deg);
border-style: solid;
border-color: Purple;
padding-left: 250px;
margin-left: 250px;

}

h1 {font-size:54px;
  text-transform:capitalize;}
  
  #position {font-size:18px;
  font-weight:bold;
  }
  section, footer{
      padding: 2px 10px;
  }
  
  ul {
      margin: 0px;
  }
  
  .summary {font-size:16px;
  line-height:20px;}
  
  h2 {
      font-size:32px;
      color:#2F5A78;
      padding-bottom: 2px;
     border-bottom: 1px solid #2F5478;
  }
  
  body {
      font-family:Arial;
      margin-top: 100px;
  }
  
  header { text-align:center;
          background-color:#eeeeee;
          padding-bottom:2px;
          padding-top: 2px;
  }
  li b{
      color : #2F5A78;
  }
  
  li {
      margin-bottom: 5px;
  }
  
  #copyright{
      text-align:center;
  }
  
  footer {
      background-color: #eeeeee;
  }
  footer a{
      color: #e99F4B;
      text-decoration: none;
      
  }
  footer a:hover{
      text-decoration:underline;
  }
  
  table {
      border-collapse: collapse;
  }
  th,td {
      border :1px solid black;
      padding: 5px;
  }
  
  th {
      background-color: #2F5A78;
      color: white;
  }
  
  input[type='text'],input[type='email']{
      border: 1px solid #2F5A78;
      width: 150px;
      padding: 5px;
      margin-bottom: 5px;
  }
  
  textarea {
  
      border: 1px solid #2F5A78;
      width: 203px;
      padding: 5px;
      margin-bottom: 5px;
  }
  label {
      color: #2F5A78;
      font-weight: bold;
  }
  input[type='submit']{
      background-color: #2F5A78;
      border: none;
      border-radius: 7px;
      padding: 7px 15px;
      font-weight: bold;
      color: white;
      margin-bottom: 7px;
  }
  
  .summary img {
      float: right;
      transition: transform 1s ease;
  }
  
  .summary img:hover{
      transform: scale(1.3);
  }
